.artist-artist {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex;
    border-color: transparent;
    background-color: rgba(244, 166, 153, 1);
  }
  .artist-bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 387px;
    margin: 0 100px;
  }
  .artist-text11 {
    top: 110px;
    left: -176px;
    color: rgba(255, 255, 255, 1);
    width: 685px;
    height: auto;
    position: absolute;
    font-size: 48px;
    align-self: auto;
    font-style: SemiBold;
    text-align: center;
    font-family: Montserrat;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .artist-hartotransparent1 {
    width: 380px;
    height: 380px;
    border-color: transparent;
    margin-left: 110px;
  }
  .artist-text13 {
    top: 170px;
    left: -158px;
    color: rgba(255, 255, 255, 1);
    width: 685px;
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: SemiBold;
    text-align: center;
    font-family: Montserrat;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .artist-name {
    color: #FFF;
    font-size: 40px;
    font-weight: bold;
  }
  .artist-sub {
    color: #FFF;
    font-size: 24px;
  }
  .artist-label {
    color: #FFF;
    margin-top: 20px;
  }
  @media(max-width: 991px) {
    .artist-bio {
      margin-left: 20px;

    }
    .artist-hartotransparent1 {
      margin: 0 0;
      width: 300px;
    height: 300px;
    }
  }
  @media(max-width: 767px) {
    .artist-bio {
     margin: 0px;
    }
  }
  @media(max-width: 479px) {
    .artist-text {
      top: 212px;
      left: 10px;
    }
    .artist-text11 {
      top: 25px;
      left: -247px;
    }
    .artist-hartotransparent1 {
      top: 19px;
      left: 205px;
      width: 213px;
      height: 188px;
    }
    .artist-text13 {
      top: 88px;
      left: -227px;
    }
  }
  