.concept-concept {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-family: Montserrat;
    justify-content: center;
    border-color: transparent;
    background-color: rgba(232, 170, 215, 1);
    justify-content: space-between;
  }
  .concept-text-container {
    width: 600px;
    text-align: center;
    margin-right:20vh;

  }
  .concept-text {
    font-style: SemiBold;
    text-align: center;
    font-family: Montserrat;
    font-weight: 600;
    color: #FFF;
    font-size: 35px;
   
  }
  .concept-untitled21 {
    width: 476px;
    height: 475px;
    border-color: transparent;
    margin-left:10vh;
  }
  @media(max-width: 991px) {
    .concept-text {
      font-size: 20px;
    }
    .concept-text-container {
    width: 300px;
   
  }
    .concept-untitled21 {
      top: 189px;
      left: 11px;
      width: 307px;
      height: 263px;
    }
  }
  @media(max-width: 767px) {
    .concept-text {
      top: 273px;
      left: 38px;
    }
    .concept-untitled21 {
      top: 12px;
      left: 199px;
    }
  }
  @media(max-width: 479px) {
    .concept-text {
      top: 293px;
      left: -4px;
    }
    .concept-untitled21 {
      top: 0px;
      right: 58px;
    }
  }
  