.final-final {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    border-color: transparent;
    background-color: rgba(185, 189, 174, 1);
  }
  .final-text {
    color: rgba(255, 255, 255, 1);
    /* background-color: red; */
    justify-content: center;
    display: flex;
    position: absolute;
    font-size: 50px;
    font-style: SemiBold;
    text-align: center;
    margin-top: 50vh;
    font-family: Montserrat;
    font-weight: 600;
  }
  .final-b-l-o-c-k1 {
    width: 508px;
    height: 500px;
    border-color: transparent;
    display: flex;
    /* background-color: yellow; */
    justify-content: center;
    align-items: center;
  }
  