.final-final {
    width: 100%;
    height: 768px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    background-color: rgba(185, 189, 174, 1);
  }
  .final-text {
    top: 524px;
    left: 340px;
    color: rgba(255, 255, 255, 1);
    width: 685px;
    height: auto;
    position: absolute;
    font-size: 68px;
    align-self: auto;
    font-style: SemiBold;
    text-align: center;
    font-family: Montserrat;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .final-b-l-o-c-k1 {
    top: 83px;
    left: 463px;
    width: 508px;
    height: 520px;
    position: absolute;
    border-color: transparent;
  }
  