
@import url('https://fonts.google.com/specimen/Montserrat');

body {
  margin: 0;
  font-family: 'Montserrat-Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Montserrat-Regular';
    
}
