.metamaskconnected-metamaskconnected {
    width: 100%;
    height: 768px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    background-color: rgba(241, 71, 38, 1);
  }
  .metamaskconnected-text {
    top: 593px;
    left: 38px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 128px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Montserrat;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .metamaskconnected-transparentblock1 {
    top: -107px;
    left: 250px;
    width: 867px;
    height: 867px;
    position: absolute;
    border-color: transparent;
  }
  .metamaskconnected-rectangle1 {
    top: 482px;
    left: 576px;
    width: 214px;
    height: 62px;
    position: absolute;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
  }
  .metamaskconnected-text2 {
    top: 496px;
    left: 579px;
    color: rgba(0, 0, 0, 1);
    width: 208px;
    height: auto;
    position: absolute;
    font-size: 32px;
    align-self: auto;
    font-style: SemiBold;
    text-align: center;
    font-family: Montserrat;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  