.processingtransaction-processingtransaction {
    width: 100%;
    height: 768px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    background-color: rgba(244, 166, 153, 1);
  }
  .processingtransaction-transparentblock2 {
    right: 10px;
    width: 107px;
    bottom: -11px;
    height: 107px;
    position: absolute;
    border-color: transparent;
  }
  .processingtransaction-text {
    top: 365px;
    left: 373px;
    color: rgba(255, 255, 255, 1);
    width: 685px;
    height: auto;
    position: absolute;
    font-size: 101px;
    align-self: auto;
    font-style: SemiBold;
    text-align: center;
    font-family: Montserrat;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  